.container-fluid {
    background-color: rgb(244, 193, 181);
}
.jumbotron {
    background-color: rgb(63, 240, 208);
}
.gambar{
    background-color: pink;
}
.row-bawah {
    background-color: rgb(152, 250, 217);
}